<footer>
  <div  class="download-section" >
      <div class="container">
          <div class="col-lg-8 col-lg-offset-2">
              <center>By 
			<a href="https://github.com/KBacsa" title="" rel="author">Kiran Bacsa</a>, <a href="https://github.com/sbeuret" title="" rel="author">Samuel Beuret</a>, <a href="https://github.com/valstrl" title="" rel="author">Valentine Santarelli</a>
		</center>
		<center>
			<span>GitHub code at 
				<a target="_blank" href="https://github.com/sbeuret/ADAProject_Bacsa_Beuret_Santarelli">repository</a>
			</span>
		</center>
		<center>
Published 
			<time title="2017-12-19T15:19:07+00:00">Dec. 19, 2017</time>
		</center>
          </div>
      </div>
    <div class="container text-center">
        <p>Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
    </div>
</footer>

    <!-- Footer
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
        </div>
    </footer>-->
