<section class="container content-section text-center">
	<div class="post-content">
	  <p>The 2015 election was marked by the rise of the conservative and liberal right at the expense of the Green parties. With a relatively high participation score of 48,5%, we can assume that this election is a accurate representation of Swiss public opinion.</p>

		<p>A brief summary of the main political parties that contended in the 2015 National Council election: </p>
		
		 <ul style="text-align:left; font-size:14pt">
			<li>Conservative Democratic Party of Switzerland (BDP/PBD): A medium sized center-right party founded in 2007 by moderate members who split off from the Swiss People's Party.</li>
			<li>Christian Social Party (CSP/PCS): A small catholic left-wing party.</li>
			<li>Christian Democratic People's Party of Switzerland (CVP/PDC): A center-right christian party. The fourth largest party in Switzerland, it currently has one member on the federal council. The party is popular in conservative catholic cantons.</li>
			<li>Evangelical People's Party of Switzerland (EVP/PEV): A small protestant center party.</li>
			<li>The Liberals (FDP/PLR/PRD): A liberal right party. The third largest party in Switzerland, the party has two members on the federal council</li>
			<li>Green Liberal Party of Switzerland (GLP/PVL): A medium-sized center-right party. It seeks to combine  economic liberalism with environmental sustainability. It was founded in 2007 by liberal members who split off from the Green party of Switzerland.</li>
			<li>Swiss Party of Labour (PdA/PST): A small far-left communist party, mostly present in Jura region.</li>
			<li>Social Democratic Party of Switzerland (SP/PS): A center-left socialist party. The second largest party in Switzerland, it currently has two members on the federal council and is mostly present in cities and industrial areas.</li>
			<li>Swiss People's Party (SVP/UDC): A conservative right-wing party. The largest party in Switzerland, it currently has two members on the federal council. Traditionnally a rural party, it has recently gained popularity among nationalist anti-european voters.</li>
			<li>Federal Democratic Union of Switzerland  (EDU/UDF): A small far-right party.</li>
			<li>Green Party of Switzerland (GPS/PES): A medium sized left-wing party. The fifth largest party and supports left-wing and environmentalist policies.</li>
			<li>Ticino League (Lega): A small far-right regionalist party. The party wants more autonomy for the canton of Ticino</li>
			<li>Romandy Citizens' Movement (MCR): A small populist right-wing party. Mostly present in Geneva's canton, it wants more autonomy for the Romandy region.</li>
			<li>Swiss Democrats (SD/DS): A small far-right party.</li>
			<li>Solidarity (Sol.): A small far-left party. It is only present in Vaud and Geneva.</li>
			<li>Übrige/Autre: Other small parties or independant candidates.</li>
		</ul>
	</div>
</section>