<section class="container content-section text-center">
	<div class="post-content">
			<p>In order to get a better grasp of the Swiss political climate, we can extract a political heat map from these results via a spectral clustering algorithm. For each municipality, the ‘political score’ is computed based on the electoral scores of each party. These municipalities are then projected based on their score on a distance map and subsequently clustered into different categories.</p>
	</div>
</section>