<section class="container content-section text-center">
	<div class="post-content">
	<p>On this plot, we compared the representativeness between different canton distributions. We also plotted the theoretical lower bound of the loss, the average loss obtained with a random canton distribution and the loss based on current parliament. We can see that the current distribution is far better than a random one and therefore relatively fair. There is a significant improvement using the genetic algorithm, namely, slightly increased by removing geographical constraints. With a random initialization, this improvement is even greater, but does not reach the same performance as the previous results. The theoretical minimal loss is however still out of reach.</p>
	
	<h2 id="divide-and-conquer">Divide and conquer</h2>

	<p>However, the power to redraw borders can also cause great harm to the fabric of Swiss democracy. For the sake of curiosity, we thus computed the optimal borders necessary to favor the influence of a single party :</p>
	</div>
</section>