<section class="container content-section text-center">
	<div class="post-content">
		<p>The most obvious change than can be observed is that almost all small parties have increased their number of representatives in the parliament.</p>

		<p>During our simulation, we have observed that the most sensitive changes were detected along the borders of the smaller cantons and that our algorithm has a tendency to merge them into larger cantons. Intuitively, we would expect the representativeness to improve by increasing the number of cantons, with the extreme case being when each municipality is its own canton. However, our algorithm seems to demonstrate the opposite, by slightly reducing the total number of cantons. We believe that there is more than a single solution to this optimization problem and that there is room for improvement.</p>

		<p>On the following map, we relaxed the geographical constraints imposed above in order to gauge their effect on the final solution.</p>
	</div>
</section>