 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/grayscale.js" | prepend: site.baseurl }}"></script>

    <!-- D3-->
    <script src="{{ "/js/d3.js" | prepend: site.baseurl }}"></script>

    <!-- D3 -->
    <script src="{{ "/js/d3.v3.min.js" | prepend: site.baseurl }}"></script>

    <!-- D3 scale-->
    <script src="{{ "/js/d3-scale.js" | prepend: site.baseurl }}"></script>

    <!-- D3 scale chromatic-->
    <script src="{{ "/js/d3-scale-chromatic.js" | prepend: site.baseurl }}"></script>

    <!-- D3 scale chromatic min
    <script src="{{ "/js/d3-scale-chromatic.min.js" | prepend: site.baseurl }}"></script>

    <!-- D3 geomap-->
    <script src="{{ "/js/d3-geo.js" | prepend: site.baseurl }}"></script>

    <!-- topojson -->
    <script src="{{ "/js/topojson.js" | prepend: site.baseurl }}"></script>

    <!-- Municipalities map javascript -->
    <script src="{{ "/js/map_municipalities.js" | prepend: site.baseurl }}"></script>
