    <!-- Map Section -->
    <!--<div id="map"></div>-->
    <section  class="container content-section text-center">
    <div id="map_score" class="post-content" style="position: relative; overflow: hidden;" >
    <!--<div id="map_score" clas="map_container col-lg-8 col-lg-offset-2" style="position: relative; overflow: hidden;" >-->
    <link href="css/map/map.css" rel="stylesheet" type="text/css">
    <!--<h3 class="title_map" ></h3>-->
    <h3>2015 Federal Election Results</h3>
    <!--<p style="font-size: 12pt; margin-bottom: 0; margin-top : 50px; margin-left: 30px;">Select a party:</p>-->
    <p style="font-size: 12pt; margin-bottom: 0; margin-top : 60px;  text-align: left">Select a party:</p>
    <!--<select style="position: relative; z-index: 2; text-align: left"></select>-->
    <select style=" z-index: 2; align-items: normal"></select>
    <div class="tooltip_map" style="margin-top : 50px; ">
          <div class="selection_map" class="container">
          <p><span class="value_map"></span></p>
          <p><span class="value2_map"></span></p>
        </div>
  </div>
  <div class="legend">
  <svg class="legend_svg"></svg>
  </div>
  <div class="map" style="position: relative; z-index: 1; margin-top: -30px;"></div>
</div>
</section>
