<!-- Map Section -->
<!--<div id="map"></div>-->
<section class="container content-section text-center">
<div id="map_orig" class="post-content"style="position: relative; overflow: hidden;" >
<!--<div id="map_orig" class="map_container" style="position: relative; overflow: hidden;" >-->
<link href="css/map/map.css" rel="stylesheet" type="text/css">
<!--<h3 class="title_map" ></h3>-->
<h3>Map of cantons as of 2015</h3>
<div class="tooltip_map" style="margin-top : 50px;" >
      <div class="selection_map" class="container">
      <p><span class="value_map"></span></p>
    </div>
</div>
<div class= "map"></div>
</div>
</section>
