    <!-- Map Section -->
    <!--<div id="map"></div>-->
    <div id="map_score" clas="map_container" style="position: relative; overflow: hidden;" >
    <link href="css/map/map.css" rel="stylesheet" type="text/css">
    <select ></select>
    <div class="tooltip" >
          <div class="selection" class="container">
          <p><span class="title" >Laden...</span></p>
          <p><span class="value">Lade Nutzerdaten</span></p>-
        </div>

          <!--<div>
              <p><svg width="10px" height="10px">
              <rect width="10" height="10" style="fill:#238b45" />
              </svg> <span id="range3"></span></p>
          </div>
          <div>
              <p><svg width="10px" height="10px">
              <rect width="10" height="10" style="fill:#41ab5d" />
              </svg> <span id="range2"></span></p>
          </div>
          <div>
              <p><svg width="10px" height="10px">
              <rect width="10" height="10" style="fill:#74c476" />
              </svg> <span id="range1"></span></p>
          </div>
          <div>
              <p><svg width="10px" height="10px">
              <rect width="10" height="10" style="fill:#a1d99b" />
              </svg> <span id="range0"></span></p>
          </div>-->
  </div>
  <div class="legend">
  <svg class="legend_svg"></svg>
  </div>
  <div class="map"></div>
</div>
