<!-- Map Section -->
<!--<div id="map"></div>-->
<section class="container content-section text-center">
  <!-- <div id="map_algo2" class="map_container" style="position: relative; overflow: hidden;" >
-->
<div id="map_algo2" class="post-content" style="position: relative; overflow: hidden;" >
<link href="css/map/map.css" rel="stylesheet" type="text/css">
<!--<h3 class="title_map" ></h3>-->
<h3>Optimal Cantons without constraints</h3>
<div class="tooltip_map" style="margin-top : 50px;" >
      <div class="selection_map" class="container">
      <p><span class="value_map"></span></p>
    </div>

</div>
<div class= "map"></div>
</div>
</section>

<section class="container content-section text-center">
<div  class="post-content" style=" width: 100%; height: 600px">
<!--<h3 class="title_parliament" >Resulting Swiss Parliament </h3>-->
<h3>Resulting Swiss Parliament </h3>
<div id="parliament_states2"  style="float: right; width: 50%;">
<link href="css/parliament/parliament.css" rel="stylesheet" type="text/css">
</div>
<div id="parliament_national2"  style=" float: left; width: 50%;">
<link href="css/parliament/parliament.css" rel="stylesheet" type="text/css">
</div>
</div>

</section>
