    <!-- Map Section -->
    <!--<div id="map"></div>-->
    <div id="map_score" clas="map_container" style="position: relative; overflow: hidden;" >
    <link href="css/map/map.css" rel="stylesheet" type="text/css">
    <select></select>
    <div class="tooltip_map" >
          <div class="selection_map" class="container">
          <p><span class="title_map" >Laden...</span></p>
          <p><span class="value_map">Lade Nutzerdaten</span></p>
        </div>
  </div>
  <div class="legend">
  <svg class="legend_svg"></svg>
  </div>
  <div class="map"></div>
</div>
