
<section>

<div  style=" width: 100%; height: 600px">
<h3 class="title_parliament_2015" style="position: relative; float: right; width: 100%;" >2015 Swiss Parliament</h3>
<div id="parliament_states" class= "parliament-container" style="float: right; width: 50%;">
<link href="css/parliament/parliament.css" rel="stylesheet" type="text/css">
</div>
<div id="parliament_national" class= "parliament-container" style=" float: left; width: 50%;">
<link href="css/parliament/parliament.css" rel="stylesheet" type="text/css">
</div>
</section>
