<!DOCTYPE html>
<html>
    {% include head.html %}
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  {% include header.html %}

  {% include import_1.html %}
  {% include map_orig.html %}

  {% include import_2.html %}
  {% include map_score.html %}
  {% include parliament.html %}

  {% include import_3.html %}
  {% include map_spectral.html %}
  
  {% include import_4.html %}
  {% include parliament_orig.html %}
  {% include import_4bis.html %}
  
  {% include map_algo1.html %}

  {% include import_5.html %}
  {% include map_algo2.html %}

  {% include import_6.html %}
  {% include map_algo3.html %}

  {% include import_7.html %}
  {% include barplot.html %}
  
  {% include import_8.html %}
  {% include map_party.html %}
  
  {% include import_9.html %}

  {% include footer.html %}
	{% include js.html %}
    </body>
</html>
