<!DOCTYPE html>
<html>
    {% include head.html %}
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  {% include header.html %}
  {% include map_orig.html %}
  {% include map_spectral.html %}
  {% include map_algo1.html %}
  {% include map_algo2.html %}
  {% include map_party.html %}
  {% include map_score.html %}
  {% include parliament.html %}
  {% include barplot.html %}
  {% include import.html %}
  {% include footer.html %}
	{% include js.html %}
    </body>
</html>
